<div class="header">
  <img src="../assets/img/logo.png">

  <div class="navigation-bar">
    <a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a [routerLink]="['about']" routerLinkActive="active-link" [queryParams]="{'secondWay': 100}">About</a>
    <a [routerLink]="['order']" routerLinkActive="active-link">Order</a>
    <a [routerLink]="['user', 12]" routerLinkActive="active-link">User</a>
  </div>

</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
</div>


